AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
PenaltyReturnTypeOnItsOwnLine: 999
QualifierAlignment: Custom
QualifierOrder: [inline, static, const, volatile, friend, constexpr, restrict, type]
SeparateDefinitionBlocks: Always
SpacesBeforeTrailingComments: 2
