Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -fuchsia-*,
  -hicpp-signed-bitwise
  -llvm-*,
  -llvmlibc-*,
  -misc-unused-parameters,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
